<div id="login3">
  <form ng-submit="handleSubmit()" id="register" >
<h1 id="center" class="title is-3">Update your piece</h1>
  <input id="borders" class="input is-link" ng-model="item.itemName" placeholder="Name">
  <input id="borders" class="input is-link" ng-model="item.imageUrl" placeholder="Image URL">
  <input id="borders" class="input is-link" ng-model="item.seller" placeholder="Your Name">
  <input id="borders" class="input is-link" ng-model="item.categories" placeholder="Possible Categories">
  <input id="borders" class="input is-link" ng-model="item.price" placeholder="Price" type="number" min="0">
  <input id="borders" class="input is-link" ng-model="item.uploadDate" placeholder="Today's Date" type="date">
  <input id="borders" class="input is-link" ng-model="item.location" placeholder="Your Location">
  <input id="borders" class="input is-link" ng-model="item.sizes" placeholder="Size">
  <input id="borders" class="input is-link" ng-model="item.colour" placeholder="Colour">
  <button id="buble4" class="button is-link">Update</button>
</form>
</div>
