
<h1 class="title is-2" id="titleindex">All the items<h1>
  <div ng-if="isAuthenticated()">
  <p>Welcome back {{ username }}</p>
</div>
<form ng-submit="handleFilterSubmit()">
  <div class="wrap">
     <div class="search">
        <input ng-model="searchTerm" type="text" class="searchTerm" placeholder="What are you looking for?">
        <button type="submit" class="searchButton">
          <i class="fas fa-search"></i>
       </button>
     </div>
  </div>
</form>
<section id="index">
  <div class="columns is-multiline">
<div ng-repeat="item in filteredItems" class="card">
<a ui-sref="itemsShow({ id: item._id })">
  <p id="itemtag" class="subtitle">{{ item.itemName }}</p>
  <div class="card-image">
    <figure class="image">
        <img ng-src="{{ item.imageUrl }}" alt="{{ item.itemName }} {{ item.location }}">
    </figure>
  </div>
    <p id="seller" class="subtitle"> Sold by: {{ item.seller }}</p>
</div>
</div>
</a>

</section>
