
<div id="login3">
  <form id="register" ng-submit="handleSubmit()">
<h1 id="center" class="title is-3">Upload a new piece</h1>
<input id="borders" class="input is-link" ng-model="item.itemName" placeholder="Item Name">
<input id="borders" class="input is-link" ng-model="item.imageUrl" placeholder="Image URL">
  <input id="borders" class="input is-link" ng-model="item.categories" placeholder="Category: shoes, jumper, etc.">
  <input id="borders" class="input is-link" ng-model="item.size" placeholder="Size">
  <input id="borders" class="input is-link" ng-model="item.colour" placeholder="Colour">
  <input id="borders" class="input is-link" ng-model="item.price" placeholder="Price" type="number" min="0">
  <input id="borders" class="input is-link" ng-model="item.seller" placeholder="Your Name">
  <input id="borders" class="input is-link" ng-model="item.location" placeholder="Your Location">
  <input id="borders" class="input is-link" ng-model="item.uploadDate" placeholder="Today's Date: dd/mm/yyyy">
  <button id="buble2" class="button is-link">Upload</button>
</form>
</div>
