<div class="columns">
  <div id="left" class="column is-7">
    <h1 class="title" id="showtitle">{{ item.itemName }}</h1>
    <img src="{{ item.imageUrl }}" id="showimg">
  </div>
  <div id="right" class="column is-5">
    <span> A B O U T </span><span class="hide">ll</span><span>T H E</span><span class="hide">ll</span> <span>P I E C E</span>
    <p><span>Sold by : </span><a ui-sref="userShow({ id: item.createdBy._id})">{{ item.seller }}</a></p>
    <p><span>Price : </span>{{ item.price }} $</p>
    <!-- <p><span>Rating: {</span>{ item.rating }}</p> -->
    <!-- <p><span>Upload Date: </span>{{ item.updloadDate }}</p> -->
    <p><span>Location : </span>{{ item.location }}</p>
    <p><span>Size : </span>{{ item.sizes }}</p>
    <p><span>Colour : </span>{{ item.colour }}</p>

<div id="commentsshow" >
  <p id="commentstitle">C O M M E N T S</p>
  <div ng-repeat="comment in item.comments">
    <span style="font-weight: bold;">{{ comment.user.username }}:</span>
    <span>{{ comment.text }}</span>
    <!-- need auth so only the user can delete thier comment -->
    <!-- ng-if="comment.user._id === userId" -->
    <button class="delete-button" ng-click="deleteComment(comment)">🗑</button>
  </div>
</div>
<div class="comments">
  <div ng-repeat="comment in item.comments">
    <!-- <span style="font-weight: bold;">{{ comment.user.username }}</span>
    <span>{{ comment.text }}</span> -->
  </div>
  <form ng-submit="createComment()">
    <input type="text" ng-model="comment.text">
    <button class="button">💬</button>
  </form>
</div>
</div>
</div>
