<div class="columns">
  <div id="left" class="column is-7">
    <h1 class="title" id="showtitle">{{ item.itemName }}</h1>
    <img src="{{ item.imageUrl }}" id="showimg">
  </div>
  <div id="right" class="column is-5">
    <span> A B O U T </span><span class="hide">ll</span><span>T H E</span><span class="hide">ll</span> <span>P I E C E</span>
    <p><span>Sold by : </span><a ui-sref="userShow({ id: item.createdBy._id})">{{ item.seller }}</a></p>
    <p><span>Price : </span>{{ item.price }} $</p>
    <!-- <p><span>Rating: {</span>{ item.rating }}</p> -->
    <!-- <p><span>Upload Date: </span>{{ item.updloadDate }}</p> -->
    <p><span>Location : </span>{{ item.location }}</p>
    <p><span>Size : </span>{{ item.sizes }}</p>
    <p><span>Colour : </span>{{ item.colour }}</p>
    <br>
    <button class="button is-rounded" ui-sref="itemsEdit({ id: item._id })">Edit</button>
  <button class="button is-rounded" ng-click="handleDelete()">DELETE</button>

<div id="commentsshow" >
  <p id="commentstitle">C O M M E N T S</p>
  <div ng-repeat="comment in item.comments">
    <span style="font-weight: bold;">{{ comment.user.username }} : </span>
    <span>{{ comment.text }}</span>
  </div>
</div>
</div>
</div>
