
<div id="about">

<section id="section">
  <div class="columns is-vcentered is-mobile is-multiline">
 <div class="column is-6-desktop">
  <h2>Story</h2>
  <p id="p">Orca was founded by co-founder of PIG magazine and RETROSUPERFUTURE sunglasses, Simon Beckerman. Originally a social network where PIG’s readers could buy items featured in the magazine. After realizing that Orca needed a selling function, Simon re-envisioned the app as a global marketplace — a mobile space where you can see what your friends and the people you’re inspired by are liking, buying, and selling.</p>
 </div>
 <div class="column is-6-desktop">
  <img id="img" src="https://assets.cdn.goodhoodstore.com/news/3467/GOODHOOD_STAFF_STYLES_VOL6_ICON.jpg" alt="story">
  </div>
</div>
</section>

<section>
  <div class="columns is-vcentered is-mobile is-multiline">
 <div class="column is-6-desktop">
<img id="img" src="https://d3170a3msf25m.cloudfront.net/about-static/team%400%2C75x.jpg" alt="story">
</div>
 <div class="column is-6-desktop">
  <h2>Team</h2>
  <p id="p">Orca is powered by 80 employees working in our London HQ and offices in Milan and NYC. We practice what we preach and are active participants in independent creative entrepreneurship. We’re a company of photographers, DJs, illustrators, jewelry makers, painters, music producers, globetrotters, writers and activists, joined together by passion for our product and obsession with community.</p>
</div>
</div >
</section>

<section>
  <div class="columns is-vcentered is-mobile is-multiline">
 <div class="column is-6-desktop">
  <h2>Our Community</h2>
  <p id="p">Life is about creating. That’s why Orca is home to 10 million+ stylists, designers, artists, collectors, vintage sellers, sneakerheads and more. From the most inspiring creatives to up-and-coming influencers across fashion, design, art and music. Come and join our growing community.</p>

 </div>
 <div class="column is-6-desktop">
  <img id="img" src="https://d3170a3msf25m.cloudfront.net/about-static/users%400%2C75x.jpg" alt="story">
  </div>
</div>
</section>

<section>
  <div class="columns is-vcentered is-mobile is-multiline">
 <div class="column is-6-desktop">
<img id="img" src="https://static1.squarespace.com/static/566a6d1f7086d738d2cde695/t/5a21d05d53450aa90ca9c48c/1512430167227/IMG_8591.JPG" alt="story">
</div>
 <div class="column is-6-desktop">
  <h2>Orca's donation</h2>
  <p id="p">Donate now and 100% of your tax-deductible contribution will go directly to researchers in the field and to projects immediately addressing Southern Resident orca recovery in the Pacific Northwest. Everything you donate goes to helping the whales. Orca Conservancy doesn’t keep a penny.</p>
</div>
</div >

</div>
