<div id="contact">
  <h1 class="title is-4">How can we help?</h1>
  <br>
  <br>
  <span class="title is-1">C O N T A C T</span><span id="aa">ll</span><span class="title is-1"> U S</span>
  <br>
  <br>
  <br>
  <br>
  <p>JAFAIS ltd.</p>
  <br>
  <p>The Relay Building</p>
  <br>
  <p>114 Whitechapel High St</p>
  <br>
  <p>London E1 7PT</p>
  <br>
  <p>United Kingdom</p>
  <br>
  <br>
  <p>TEL : +44 020 3308 9506</p>
  <br>
  <p>E-Mail: info@orka.com</p>
  <br>
  <br>
  <p>Office Hours: </p>
  <br>
  <p>Mon - Fri : 8 AM  -  7 PM</p>

</div>
