<div id="contact">
  <!-- <span class="title is-1">C O N T A C T</span><h1 class="title is-4">How can we help?</h1> -->



  <section id="contact">
    <div class="columns is-vcentered is-mobile is-multiline">
   <div class="column is-6-desktop">
  <img id="aboutimage" id="img" src="https://i.pinimg.com/originals/5e/85/8b/5e858bb55fff9b9cadda46009da1e79f.jpg" alt="story">
  </div>
   <div class="column is-6-desktop">
    <h2>JAFAIS ltd.</h2>
    <p id="p">The Relay Building</p>
    <p id="p">114 Whitechapel High St</p>
    <p id="p">London E1 7PT, United Kingdom</p>
    <p id="p">TEL : +44 020 3308 9506</p>
    <p id="p">E-Mail: info@orca.com</p>
    <p id="p">Opening Hours:</p>
    <p id="p">Mon - Fri : 8 AM  -  7 PM</p>
  </div>
  </div >
  </section>
  <!-- <span class="title is-1">C O N T A C T</span><span id="aa">ll</span><span class="title is-1"> U S</span> -->



</div>
