
@mixin signUpActive {
  .cont.s--signup & {
    @content;
  }
}


h2 {
  width: 100%;
  font-size: 26px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 900;
  color: black;
}

#img {
  border-radius: 300px;
}

#imgshow {
  width: 59%;
  border-radius: 300px;
  margin-left: 178px;
}

label {
  display: block;
  width: 260px;
  margin: 25px auto 0;
  text-align: center;

  span {
    font-size: 12px;
    color: #cfcfcf;
    text-transform: uppercase;
  }
}

input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  border-bottom: 1px solid rgba(0,0,0,0.4);
  text-align: center;
}

.forgot-pass {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: #cfcfcf;
}

.submit {
  margin-top: 40px;
  margin-bottom: 20px;
  // background: #d4af7a;
  background-color: black;
  text-transform: uppercase;
}



.sign-in {
  transition-timing-function: ease-out;

  @include signUpActive {
    transition-timing-function: ease-in-out;
    transition-duration: 1.2s;
    transform: translate3d(640px,0,0);
  }
}

.sign-up {
  transform: translate3d(260px * -1,0,0);

  @include signUpActive {
    transform: translate3d(0,0,0);
  }
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.footer{
  text-align: center;
  background-color: white;
}




#index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
  img {
    height: 400px;
    width: 400px;
  }
}

#titleindex {
  text-align: center;
  margin-top: 20px;
  background-color: white;
}


#itemtag {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 600;
}

#seller {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.card {
  margin-bottom: 50px;
  margin-top: 25px;
}

#nav {
  height: 80px;
  font-size: 20px;
  background-color: black;
  margin-bottom: 0;
}

#home2 {
  position: relative;
  text-align: center;
}

.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:transparent;
  font-size: 100px;
  color: white;
}

.centered2 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:transparent;
  font-size: 30px;
  color: white;
}


#showimg{
  height: 600px;
  width: 600px;
  margin-left: 50px;
}

#showtitle{
  margin-top: -99px;
  margin-left: 340px;
  color: black;
}

#right{
  margin-top: 200px;
  font-size: 20px;
  p {
    margin-top: 15px;
    span{
      font-weight:600;
    }
  }
}


#commentstitle {
  margin-bottom: 10px;
  color: black;
  font-size: 32px;
}

.hide {
  color: #6eb6de;
}

#about {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 60px;
  margin-bottom: 40px;
}

#aa{
  color: white;
}

#contact {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 80px;
}
#username{
  font-size: 40px;
  margin-top: 100px;
  text-align: center;
  color: black;
  text-decoration: underline;
}

#jk{
  font-size: 25px;
  margin-top: 50px;
  color: black;
  margin-bottom: 30px;
  margin-left: 30px;
}

#userimg{
  height: 500px;
  width: 500px;
}

#abc{
  width: 550px;
  display: flex;
  justify-content: center;
}

#cde{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#useritemname{
  margin-top: 20px;
  margin-bottom: 20px;
}

.searchTerm {
  width: 60%;
  margin-left: 286px;
}

#waveCont{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
}
#waveCont > div{
  background-image: url(http://www.clker.com/cliparts/G/r/C/i/S/Q/ocean-wave-md.png);
  background-repeat: repeat-x;
  background-size: contain;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
#wave1{
  z-index: 2;
  opacity: 2.4;
  animation: wave 70s linear infinite;
  // -webkit-animation: wave 90s linear infinite;
}
div#wave2{
  opacity: .7;
  height: 90%;
  background-position: 3%;
  animation: wave 50s linear infinite reverse;
  // -webkit-animation: wave 80s linear infinite reverse;
}
@keyframes wave{
  0% {background-position: 0%;}
  100% {background-position: 100%;}
}
// @-webkit-keyframes wave{
//   0% {background-position: 0%;}
//   100% {background-position: 100%;}
// }

.hero-body {
  background-color: black;
  height: 734px;
  width: 1450px;
  margin-left: -49px;
}

.letter {
  color: rgba(255,255,255,0.1);
  text-shadow: 0 0 .5em #1b99c2;;
  transition:
  color 1s ease-out,
  text-shadow 5s ease-out;
  font-family: 'Permanent Marker', cursive;
}
#orca {
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  margin-right: 500px;
}

.letter:hover {
  color: rgba(255,255,255,1);
  text-shadow: none;
}

@media screen and (max-width: 750px) {
  h1 {
    font-size: 9em;
  }
}
#h1 {
  // font-family: 'Russo One', sans-serif;
  font-size: 9.5em;
  margin-top: 100px;
  text-transform: uppercase;
}
#marginado {
  margin-right: 20px;
}
.navbar-item {
  margin-top: 10px;
  color: #1b99c2;
  font-weight: 900;
}
.image img {
  display: block;
  height: auto;
  width: 80%;
  /* margin-top: 23px; */
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 92px;
}

#pricetag {
  margin-bottom: 1px;
  font-size: 14px;
  margin-top: 45px;
  font-weight: 900;
  color: black;
  margin-left: 84px;
}
#input{
  width: 50%;
  margin-left: 350px;
  border-radius: 20px;
}

#hot {
  margin-left: 22px;
  margin-top: 51px;
  font-weight: 900;
}

#aboutimage {
  margin-left: 200px;
  margin-top: 5px;
  border-radius: 300px;
  width: 80%;
}

#section {
  margin-top: 70px;

}

#contact {
  margin-top: 76px;
  height: max-content;
}

#body {
  background-color: #6eb6de;
}
#about {
  height: 280vh;
  margin-bottom: 0px;
}

#p {
  color: black;
}

#login {
  margin-top: 130px;
  height: 75vh;

}
.loginform {
  border: 1px solid rgba(0,0,0,0.3);

  margin: -150px 0 0 -150px;
}

#register {
  width: fit-content;
  width: 400px;
  margin-left: 500px;
  margin-top: 60px;
  // border: 5px solid black;
  border-radius: 20px;

}

#type {
  margin-left: 124px;
}

.label1 {
  margin-left: -58px;
  color: #363636;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 10px;

}

#login2 {
  margin-top: 130px;
  height: 75vh;
}
#login3 {
  margin-top: 60px;
  height: 90vh;
}

.button.is-link {
  background-color: #3273dc;
  border-color: transparent;
  color: #fff;
  width: 200px;
}

#buble2 {
  margin-left: 94px;
  margin-top: 32px;
  height: 188px;
  border-radius: 156px;
  color: #363636;
  font-weight: 700;
}

#buttones {

  margin-left: 42px;
  margin-top: 39px;
}

#buble {
  margin-left: 60px;
  height: 188px;
  border-radius: 156px;
  color: #363636;
  font-weight: 700;

}
#buble2 {
  margin-left: 60px;
  height: 55px;
  width: 55px;
  border-radius: 156px;
  color: #363636;
  font-weight: 700;

}

#icon {
  margin-top: 5px;
}

#borders {
  border-radius: 20px;
}

.error {
  font-size: small;
  color: red;
}
.alert-container {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  z-index: 100;
  opacity: 0.8;
  transition: opacity 1.5s ease-out;
}

.alert {
  position: absolute;
}

#margin {
  margin-bottom: 10px;
}

#center {
  margin-left: 55px;
}

#comment {


  width: 450px;

  border-radius: 20px;
}

#details {
  margin-left: -119px;
  margin-top: -130px;
  width: 330px;
}

#commentbutton {
  margin-left: 421px;
  /* margin-bottom: 0px; */
  margin-top: -40px;
  border-radius: 20px;
  height: 53px;
  width: 53px;
}

#show {
  margin-top: 130px;
  height: 99vh;

}

#idi {
  color: black;
}



#a {
  font-size: 29px;
  font-weight: 700;
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
}
.section2 {
  margin-top: -70px;
}
#usershow {
  margin-top: 130px;
  height: 120vh;

}

#itemindex {
  height: 160vh;
}

#buble3 {
  margin-top: 10px;

  margin-left: 159px;
  height: 80px;
  width: 80px;
  border-radius: 156px;
  color: #363636;
  font-weight: 700;
}
.editdelete {
  display: flex;
  // margin-left: -5px;
}
#delete {
  margin-top: 32px;
  margin-left: 7px;

  height: 55px;
  width: 55px;
  border-radius: 156px;
  color: #363636;
  font-weight: 700;
}

#space {
  margin-left: 20px;
}

#buble4 {
  margin-left: 100px;
height: 188px;
margin-top: 16px;
border-radius: 156px;
color: #363636;
font-weight: 700;
}
